#app {
    width: 100%;
    transition: all 0.4s;
}

main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    padding: 64px 10vw 96px 10vw;
    box-sizing: border-box;
    scrollbar-width: none; // firefox
}

@media (max-width: 1336px) {
    main {
        padding: 64px 5vw 96px 5vw;
    }
}

main::-webkit-scrollbar {
    width: 0px;
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: transform 0.4s;
}
.slide-up-enter,
.slide-up-leave-to {
    transform: translateY(100%);
}
:root {
    --color-body-bg: #222222;
    --color-text: #ffffff;
    --color-primary: #335eea;
    --color-primary-bg: #bbcdff;
    --color-secondary: #7a7a7b;
    --color-secondary-bg: #323232;
    --color-navbar-bg: rgba(34, 34, 34, 0.86);
    --color-primary-bg-for-transparent: rgba(255, 255, 255, 0.12);
    --color-secondary-bg-for-transparent: rgba(255, 255, 255, 0.08);
    --html-overflow-y: overlay;
}
